# 🔑 GOOGLE GEMINI API KEY
# Follow the Stepwise Guide to get yours at: https://aistudio.google.com/app/apikey
GEMINI_API_KEY=AIzaSyB97xwVbEGKQH77PTln5k9Ca9YgAR8gyeQ

# 🌐 BACKEND URL (Your live Python Backend on Render)
# Local Dev Default: http://127.0.0.1:8000
BACKEND_URL=https://formbharo-backend-0hrv.onrender.com
